@import url("https://fonts.googleapis.com/css?family=Lora:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700");

/*--------------------------------------------Images*/

/*--------------------------------------------Colors and backgrounds*/

body {
  background: url("../images/forestpath.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.bg-color-name-title {
  background-color: #63491db8;
}

.bg-color-main-section {
  background-color: #bba84975;
}

.bg-color-side-section {
  background-color: #2e3e1291;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.general-sub {
  font-family: "Lora", sans-serif;
  font-weight: 300;
  color: cornsilk;
}

.inline-block {
  display: inline-block;
}
/*
.row-table {
  display: table;
}
*/
.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

/*--------------------------------------------Heading*/

header {
  margin: 0;
}

.heading {
  margin-left: auto;
  margin-right: auto;
}

.crowlogo {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  max-width: 300px;
}

.crowlogo2 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  max-width: 300px;
  float: right;
}

.name {
  font-family: "Lora", sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: cornsilk;
  background-color: #2e3e1291;
  width: fit-content;
  border-style: outset;
  border-color: #647d38;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.title {
  font-family: "open sans", sans-serif;
  font-weight: 200;
  font-size: 28px;
  margin-bottom: 75px;
  color: cornsilk;
  background-color: #2e3e1291;
  width: fit-content;
  border-style: outset;
  border-color: #647d38;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.banner-border {
  border-bottom-color: #271b08;
  border-bottom-style: solid;
}

/*--------------------------------------------Side*/

.side-section-heading {
  color: cornsilk;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  background-color: #63491dbd;
  border-color: #3e2e12;
  border-style: solid;
}

.col-12 {
  padding: 0;
}

.sidemenu-border {
  border-right-style: solid;
  border-top-color: #271b08;
}

.side-section-category {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #63491d8a; /* #6a861ab3;  #334f3a4f */
  color: cornsilk;
  font-size: larger;
  font-family: "Lora", sans-serif;
}

.side-section-category:hover {
  background-color: #364815; /*Note: consider keeping the more dynamic: #58151b;*/
  color: cornsilk;
}

.fa-angle-down {
  float: right;
  color: cornsilk;
  padding-right: 5px;
}
.side-list-item {
  list-style: none;
  background-color: #b59b62a3;
  color: #0c150f;
  margin-bottom: 0;
  text-align: left;
  font-family: "open sans", sans-serif; /*Note: Think about changing secondary font*/
  font-size: large;
  font-weight: 600;
}
.side-list-item:hover {
  list-style: none;
  /*background-color: #f6bc67;*/
  background-color: #6a861a; /* #f96975;*/
  color: #0c150f;
}

.side-link {
  color: cornsilk;
}
.side-link:hover {
  text-decoration: none;
}

.side-sub-link:hover {
  text-decoration: none;
}

.side-section-item {
  display: block;
  clear: both;
}

.side-shiny-list {
  list-style: none;
}

.side-menu {
  border-color: #271b08;
  border-style: solid;
}

/*--------------------------------------------Hover*/

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: 120px;
}

/* ------------------------------------------Footer */ /*Note: Work this*/

footer {
  background-color: #38290fb8;
  color: cornsilk;
  min-height: 120px;
  margin: 0;
  border-top-color: #271b08;
  border-top-style: solid;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: cornsilk;
  background: #2e3e12cf;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #6a861a;
}

#footer-details {
  padding: 20px;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: none;
  color: cornsilk;
  background-color: #2e3e1291;
}

.footer-para {
  text-decoration: none;
  color: cornsilk;
}

/* ----------------------------------------Main Section Nest/Home */

.main-section-heading {
  margin-bottom: 15px;
  background-color: #63822ab8;
  color: cornsilk;
  font-family: "Lora", sans-serif;
  padding: 5px;
  border-color: #3e2e1299;
  border-style: solid;
}

.main-section-para {
  background-color: #e8e4a187;
  color: Black;
  padding: 5px;
  text-align: left;
  padding: 5px;
  font-family: "open sans";
  border-color: #63822ab8;
  border-style: solid;
}

.section-heading {
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #63491db8;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #3e2e12;
  border-style: solid;
}

/*-----------------------------------------------------------Serious shinies */

.serious-heading {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #63491ddb;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #3e2e12;
  border-style: solid;
}
.serious-textbox {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 5px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #2e3e12cf;
  font-size: larger;
  border-color: #3e2e12;
  border-style: solid;
}

/*-----------------------------------------------------------Fun Shinies*/

.fun-heading {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #63491ddb;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #3e2e12;
  border-style: solid;
}

.fun-textbox {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 5px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #2e3e12cf;
  font-size: larger;
  border-color: #3e2e12;
  border-style: solid;
}

/*-----------------------------------------------------------Cawntact*/

.caw-heading {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #63491ddb;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #3e2e12;
  border-style: solid;
}

.caw-textbox {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 5px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #2e3e12cf;
  font-size: larger;
  border-color: #3e2e12;
  border-style: solid;
}

/*-----------------------------------------------------------Current*/
.current-page-list {
  background-color: #c7b488;
}
.current-page-category {
  background-color: #63491d;
  color: #7fff00;
}

/* ----------------------------------------Media Queries */

@media (max-width: 992px) {
  .bannerside,
  .crowlogo2,
  .crowlogo {
    display: none;
  }
  .side-section-category,
  .side-list-item {
    text-align: center;
  }
}
