@import url("https://fonts.googleapis.com/css?family=Lora:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700");

/*--------------------------------------------Images*/

/*--------------------------------------------Colors and backgrounds*/

html {
    background-color: #2e3e12;
}

body {
    background-image: url("../images/forestpath.jpg");
  background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  min-height: 100%;
}

.bg-color-name-title {
  background-color: #63491db8;
}

.bg-color-main-section {
  background-color: #bba84975;
}

.bg-color-side-section {
  background-color: #2e3e1291;
}

.bg-color-cawntact {
  background-color: #bba84975;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.general-sub {
  font-family: "Lora", sans-serif;
  font-weight: 300;
  color: cornsilk;
}

.inline-block {
  display: inline-block;
}
/*
.row-table {
  display: table;
}
*/
.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

/*--------------------------------------------Heading*/

header {
  margin: 0;
}

.heading {
  margin-left: auto;
  margin-right: auto;
}

.crowlogo {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  max-width: 300px;
}

.crowlogo2 {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 300px;
  max-width: 300px;
  float: right;
}

.name {
  font-family: "Lora", sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: cornsilk;
  background-color: #2e3e1291;
  width: fit-content;
  border-style: outset;
  border-color: #647d38;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  font-family: "open sans", sans-serif;
  font-weight: 200;
  font-size: 28px;
  margin-bottom: 75px;
  color: cornsilk;
  background-color: #2e3e1291;
  width: fit-content;
  border-style: outset;
  border-color: #647d38;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner-border {
  border-bottom-color: #271b08;
  border-bottom-style: solid;
}

/*--------------------------------------------Side*/

#side-section-heading {
  color: cornsilk;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  background-color: #63491dbd;
  border-color: #271b08;
  border-style: outset;
  border-width: 3px;
}

#side-section-heading:hover {
  background-color: #a1db36;
  color: #271b08;
}

.col-12 {
  padding: 0;
}

.sidemenu-border {
  border-right-style: solid;
  border-right-color: #271b08;
  border-width: 3px;
}

.side-section-category {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #63491d8a; /* #6a861ab3;  #334f3a4f */
  color: cornsilk;
  font-size: larger;
  font-family: "Open Sans", sans-serif;
}

.side-section-category:hover {
  background-color: #364815; /*Note: consider keeping the more dynamic: #58151b;*/
  color: cornsilk;
}

.fa-angle-down {
  float: right;
  color: cornsilk;
  padding-right: 5px;
}

.side-link {
  color: cornsilk;
}
.side-link:hover {
  text-decoration: none;
}

.side-sub-link:hover {
  text-decoration: none;
}

.side-section-item {
  display: block;
  clear: both;
  border-style: solid;
  border-width: 1px;
  border-color: #271b08;
}

.side-shiny-list {
  list-style: none;
}

#side-menu {
  border-color: #271b08;
  border-style: solid;
  border-width: 2px;
  margin-top: 40px;
}

/*--------------------------------------------Hover*/

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: 120px;
}

/* ------------------------------------------Footer */ /*Note: Work this*/

footer {
  background-color: #38290fe0;
  color: cornsilk;
  min-height: 120px;
  margin: 0;
  border-top-color: #271b08;
  border-top-style: solid;
}

.social-links {
  padding-bottom: 15px;
}

.social-icon {
  font-size: 25px;
  line-height: 7px;
  text-align: center;
  color: #a1db36;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-icon:hover {
  color: cornsilk;
}

.social-icon-crow {
  color: cornsilk;
  font-size: 20px;
}

.social-icon-crow:hover {
  color: black;
}

#footer-details {
  padding: 20px;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: none;
}

.general-sub,
.footer-para {
  text-decoration: none;
  color: cornsilk;
}

.general-sub:hover,
.footer-para:hover {
  text-decoration: none;
  color: #7fff00;
}

/* ----------------------------------------Main Section Nest/Home */

.main-section-heading {
  margin-bottom: 15px;
  background-color: #63822ab8;
  color: cornsilk;
  font-family: "Lora", sans-serif;
  padding: 5px;
  border-color: #314211fa;
  border-style: solid;
}

.main-section-para {
  background-color: #e8e4a187;
  color: Black;
  padding: 5px;
  text-align: left;
  padding: 5px;
  font-family: "open sans";
  border-color: #314211fa;
  border-style: solid;
}

.section-heading {
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #63491db8;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #3e2e12;
  border-style: solid;
}

.nest-text {
  margin-left: 10px;
  margin-right: 10px;
}

/*-----------------------------------------------------------Serious shinies */

.serious-heading {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #63491ddb;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #3e2e12;
  border-style: solid;
}
.serious-textbox {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 5px;
  color: cornsilk;
  background-color: #2e3e12cf;
  font-size: larger;
  border-color: #3e2e12;
  border-style: solid;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------------------------------Fun Shinies*/

.fun-heading {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  color: cornsilk;
  background-color: #63491ddb;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #3e2e12;
  border-style: solid;
}

.fun-textbox {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 5px;
  color: cornsilk;
  background-color: #2e3e12cf;
  font-size: larger;
  border-color: #3e2e12;
  border-style: solid;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------------------------------Cawntact*/

#cawntact-heading {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  color: cornsilk;
  background-color: #63491ddb;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-color: #3e2e12;
  border-style: solid;
}

#caw-textbox {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 5px;
  margin-bottom: 20px; /*play with top/bottom margins   combine margins into 1 category?*/
  color: cornsilk;
  background-color: #2e3e12cf;
  font-size: larger;
  border-color: #3e2e12;
  border-style: solid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%; /* change background color? leave? */
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #2e3e12cf;
  color: cornsilk;
}

/*-----------------------------------------------------------Current*/
.current-page-list {
  background-color: #c7b488;
}
.current-page-category {
  background-color: #63491d;
  color: #7fff00;
}

/*-----------------------------------------------------------Media Queries and Responsive*/

@media (max-width: 992px) {
  .bannerside,
  .crowlogo2,
  .crowlogo {
    display: none;
  }
  .side-section-category,
  .side-list-item {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .sidemenu-border {
    border-bottom-style: solid;
    border-bottom-color: #271b08;
  }
  #side-menu {
    display: none;
  }
  .hidden-small {
    display: none;
  }
}

@media (min-width: 768px) {
  .hidden {
    display: none;
  }
}

@media (min-width: 992px) {
  .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
  }
  .fun-textbox,
  .serious-textbox {
    max-width: 70%;
  }
}

/*----------------------------------------------------------- APIs */

#map {
    height: 300px;
    width: 60%;
    margin: 0 auto;
}